<h1>{{ title() }}</h1>
<!-- interpolation, piping en property binding voorbeelden -->
<p>
  som:
  {{ sumnumbers() !== null && typeof sumnumbers() === 'number' ? (sumnumbers() | number:'1.0-2') : sumnumbers() }}
</p>
<p>
  verschil:
  {{ subtractnumbers() !== null && typeof subtractnumbers() === 'number' ? (subtractnumbers() | number:'1.0-2') : subtractnumbers()  }}
</p>
<p>
  product:
  {{ multiplynumbers() !== null && typeof multiplynumbers() === 'number' ? (multiplynumbers() | number:'1.0-2') : multiplynumbers() }}
</p>
<p>
  deling:
  {{ dividenumbers() !== null && typeof dividenumbers() === 'number' ? (dividenumbers() | number:'1.0-2') : dividenumbers() }}
</p>

<div>
  <input
    type="number"
    [value]="firstnumber()"
    (input)="firstnumber.set($any($event.target).valueAsNumber)"
  />
  <input
    type="number"
    [value]="secondnumber()"
    (input)="secondnumber.set($any($event.target).valueAsNumber)"
  />
</div>

<button (click)="incrementNumbers()">Increment numbers</button>

<!-- writable signal van object literal animal, weergeven van losse properties -->
<div>
  <span>Color: {{ animal().color | titlecase }}</span>
  <span>Dangerous: {{ animal().dangerous ? 'Yes':'No'}}</span>
  <span>Legs: {{ animal().legs}}</span>
  <span>Name: {{ animal().name | titlecase}}</span>
</div>

<!-- @if, @let, @for, @switch voorbeelden -->
@let animalsLength = animals.length;
@if (animalsLength > 3) {
<p>There are more than 3 animals.</p>
} @else{
<p>There are only 3 or less animals.</p>
}
<p>There are exactly {{ animalsLength }} animals.</p>
<h2>Animals:</h2>
<ul>
  @for (animal of animals; track animal; let index=$index) {
  <li [class.evengrey]="$even" [class.oddblue]="$odd">{{ index + 1 }}: {{ animal.name }} - 
    @switch (animal.name) {
      @case("Lion") {
        King of the jungle!
      }
      @case("Dog") {
        Woof!
      }
      @default {
        Nothing specific to tell about this animal.
      }
    }
  </li>
  } @empty {
  <li>No animals to display...</li>
  }
</ul>

<button (click)="changeToBrownNotDangerous()">Change animal to brown not dangerous</button>
<button (click)="replaceAnimal()">Choose random animal</button>


<app-races (newRaceAvailable)="onNewRace()"></app-races>

<app-car [carsmessage]="messageAboutCars()"></app-car>

<button (click)="ToggleMessageNr()">Change car message</button>